.hover {
  border: 1px solid var(--static-transparent);

  &:hover {
    border: 1px solid var(--neutral-alpha-medium);
  }
}

.image {
  width: 64px !important;
  height: 64px !important;
  object-fit: cover;
  border-radius: var(--radius-l);
  transition: var(--transition-micro-medium);
  transform: scale(1);
}
